<h1>New Project</h1>
<%= form_for(@project) do |f| %>
	<p>
		<%= f.label :name %><br>
		<%= f.text_field :name %>
	</p>

	<p>
		<%= f.label :description %><br>
		<%= f.text_field :description %>
	</p>

	<p>
		<%= f.label :created_at %><br>
		<%= f.text_field :created_at %>
	</p>

	<p>
		<%= f.label :updated_at %><br>
		<%= f.text_field :updated_at %><br>
	</p>

	<%= f.submit %>
	<% end %>
	