<header>
	<h1><%= @project.name %></h1>

<ul class="actions">
  <li><%= link_to "Edit Project", edit_project_path(@project),
    class:  "edit" %></li>
  <li><%= link_to "Delete Project", project_path(@project),
    method: :delete,
    data: { confirm: "Are you sure you want to delete this project?" },
    class: "delete" %></li>
</ul>
</header>	

<% title(@project.name, "Projects") %>

<p><%= @project.description %></p>

<header>
	<h2>Tasks</h2>

	<ul class="actions">
		<li><%= link_to "New Task", new_project_task_path(@project),
		class: "new" %></li>
		<li><%= link_to "New Comment", new_project_comment_path(@project),
		class: "new" %></li>
	</ul>
</header>

<ul id="tasks">
	<% @project.tasks.each do |task| %>
	  <li>
	  	#<%= task.id %> -
	  	<%= link_to task.subject, [@project, task] %>
	  </li>
	<% end %>
</ul>

